*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --border: 1px dotted #2c5364;
    --back: rgba(57, 240, 3, 0.78);
    --color: black;
    --color-boton: white;
    --backtable: rgba(223, 211, 211,0.75);
    --color-precio: #585858;
    --box-shadow: 0px 5px rgba(0,0,0,0.75);
    --backgroundg: #2c5364;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

h3 + p{
    color: brown;
    text-align: center;
}

.container{
    padding: 80px 0;
    max-width: 1000px;
    width: 90%;
    overflow: hidden;
    margin: auto;
}

header{
    height: 700px;
    width: 100%;
    position: relative;
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu-header{
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    background: white;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.6);
    z-index: 20;
    transform: scale(1);
    transition: .2s;
    animation: escalar .5s 3 alternate;
}

.menu-header i{
    font-size: 20px;
}

.enlaces-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    clip-path: circle(0% at 100% 0);
    transition: clip-path 0.6s;
}

.extra-clase{
    clip-path: circle(150% at 100% 0);
}

.enlaces-header a{
    text-decoration: none;
    color: white;
}

.enlaces-header a:hover{
    text-decoration: underline;
}

.menu-header:active{
    transform: scale(0.9);
}

@keyframes escalar{
    0%{
        transform: scale(0.1);
    }
}

.container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 550px;
    margin: auto;
    color: white;
    overflow: hidden;
}

.container-header .textos-header{
    width: 50%;
}

.container-header h1{
    font-size: 60px;
}

.textos-header>a{
    display: inline-block;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    font-weight: 300;
    margin-top: 20px;
    padding: 5px 10px;
    width: 120px;
    text-align: center;
    border-radius: 7%;
}

.textos-header>a:hover{
    background-color: white;
    color: black;
}

.container-header .img-header{
    width: 50%;
}

.img-header img{
    width: 100%;
}

.acerca-de{
    padding-top: 40px;
}

.container-acerca-de-cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.container-acerca-de-cards .card-acerca{
    width: 30%;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 20px 10px;
    margin-top: 10px;
}

.card-acerca i{
    display: block;
    font-size: 100px;
    color: #0f2027;
    margin-bottom: 15px;
}

.card-acerca h4{
    margin-bottom: 15px;
}

.card-acerca p{
    font-weight: 300;
    margin-bottom: 10px;
    color: black;
}

/*Servicios*/

.servicio-container{
    background: #f2f2f2;
}

.servicio-container .servicio-div{
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.servicio-div .img-servicio{
    width: 50%;
}

.servicio-div .img-servicio .servicio-img{
    width: 100%;
    vertical-align: top;
}

.servicio-container-article{
    width: 50%;
    padding-left: 30px;
}

.servicio-container-article h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.servicio-container-article p{
    text-align: justify;
}

.servicio-container-article ul{
    margin-left: 10px;
    width: 100%;
    margin-top: 10px;
}

.servicio-container-article ul li{
    list-style: none;
    /*border-bottom: 4px solid rgba(0,0,0,0.7);*/
    margin-bottom: 20px;
    text-align: center;
}

.galerias{
    display: flex;
    margin-top: 40px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galerias .galeria-img{
    position: relative;
    overflow: hidden;
    width: 32%;
    margin-bottom: 30px;
}

.galeria-img img{
    width: 100%;
    object-fit: cover;
    height: 250px;
    vertical-align: top;
    transform: scale(1);
    transition: transform .6s;
}

.galeria-img img:hover{
    transform: scale(1.3);
}

.galeria-img:hover .extra-galeria{
    transform: translate(0);
}

.extra-galeria{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 45, 55, 0.85);
    transform: translate(100%, -100%);
    transition: transform 0.6s;
}

.extra-galeria p{
    width: 95%;
    margin: 10px auto;
    color: white;
    font-weight: 300;
    text-align: justify;
}

.precios{
    background: #f2f2f2;
}

.precios h3{
    padding-top: 80px;
}

.precios-tablas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tabla{
    background: var(--backtable);
    width: 29%;
    text-align: center;
    border-radius: 4px;
    padding: 40px 0;
    box-shadow: var(--box-shadow);
    color: var(--color);
    transform: scale(1);
    transition: transform .6s;
}

.tabla:hover{
    transform: scale(1.2);
}

.tabla h5{
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
}

.tabla .price{
    color: var(--color-precio);
    font-weight: bold;
    margin-bottom: 30px;
}

.tabla .price span{
    font-size: 24px;
}

.tabla ul li{
    display: block;
    list-style: none;
    border-bottom: var(--border);
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: var(--color);
}

.tabla>a{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: var(--color-boton);
    background: var(--back);
    width: 140px;
    border-radius: 10px;
    padding: 10px 0;
}

.tabla:hover{
    --border: 1px dotted white;
    cursor: pointer;
    --color: white;
    --color-boton: white;
    --backtable: #0f2027;
    --color-precio: white;
}

.slider-container{
    width: 100%;
    height: 450px;
    margin: auto;
    padding-top: 25px;
    overflow: hidden;
}

.slider{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.cont-slide{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.cont-slide p{
    font-style: italic;
    font-weight: 300;
    width: 80%;
    text-align: center;
}

.cont-slide img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    vertical-align: top;
    object-fit: cover;
}

.cont-slide h4{
    color: var(--backgroundg);
}

footer{
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-size: 20px;
    display: flex;
    width: 100%;
    padding: 40px 0;
}

footer .footer-contact{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer .footer-contact i{
    font-size: 35px;
}

footer .footer-logo{
    width: 30%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:800px){
    header{
        height: auto;
    }

    .container-header{
        flex-wrap: wrap;
        height: 900px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .container-header .textos-header{
        width: 80%;
        margin-bottom: 100px;
        text-align: center;
    }

    .container-header h1{
        font-size: 40px;
    }

    .container-header h2{
        font-size: 20px;
    }

    .container-acerca-de-cards{
        justify-content: center;
        align-items: center;
    }

    .card-acerca{
        width: 70%;
    }

    .img-servicio{
        width: 80%;
        margin-bottom: 40px;
    }

    .servicio-container{
        width: 100%;
    }

    .galeria-img{
        width: 48%;
    }

    .tabla{
        width: 70%;
        margin-bottom: 40px;
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}